@charset "UTF-8";

body{
  color:#fff;
  background-color:#f1c500;
  text-align:center;
}

footer{
  text-align:left;
  background-color:#e7b900;
}

.title{
  margin-top:150px;
  margin-bottom:150px;
}

.card-content {
  color:#696969;
}

#beer_icon{
  margin-top:30px;
  margin-bottom:30px;
}
